#main{
    position: relative;
    display: grid;
    grid-template-columns: 1fr 5fr;
    height: 100%;
}

.navbar{
    background-color: var(--black);
    padding: 5px 50px;
}

.navbar .user-acc{
    width: auto;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 10px;
}
.navbar img{
    width: 30px;
    height: auto;
}
.navbar .user-acc p{
    display: inline-block;
}

#main aside{
    position: relative;
    background-color: var(--black);
    color: var(--white);
}
#main aside .item{
    border-bottom: 1px solid var(--white);
    padding: 10px;
    font-size: 18px;
    cursor: pointer;
    transition: 0.4s ease-in-out;
}
#main aside .item:first-child{
    border-top: 1px solid var(--white);
}
a{
    text-decoration: none;
    color: var(--white);
    display: block;
    width: 100%;
    height: 100%;
}
#main aside .item:hover{
    background-color: var(--dark-hover);
}
#main #editor{
    position: relative;
    padding: 40px;
    text-align: center;
}

#main #logout{
    position: absolute;
    bottom: 0;
    width: 100%;
    border: 1px solid var(--white);
}
#main #logout a{
    padding: 15px;
    width: 100%;
    height: 100%;
    color: var(--white);
    border: none;
    background-color: transparent;
    cursor: pointer;
}